.skin{
  border: 1px solid;
  min-width: 276px;
  max-width: 300px;
  margin: 10px;
  padding: 10px;
}
.skins{
  display: flex;
}
.price{
  text-align: center;
  padding-bottom: 0.1em;
  font-size: 1.5em;
  font-weight: bold;
}
.btn{
  display: inline-block;
  padding: 10px;
  border-radius: 2px;
  color: white;
  & ~ & {
    margin-left: 10px;
  }
}
.inspect{
  background-color: #337ab7;
}
.add-to-cart{
  background-color: #d5622c;
  width: 44px;
  text-align: center;
}
.actions{
  display: flex;
  justify-content: center;
}
.pattern{
  text-align: center;
  font-weight: bold;
}
body {
  background-image: url("https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-7.jpg");
  background-size: cover;
  color: white;
}