.logo{
  width: 60px;
}
.my-profile{
  display: inline-block;
  padding: 33px 46px;
  font-size: 31px;
  color: white;
}
.sell-skins{
  display: inline-block;
  padding: 33px 46px;
  font-size: 31px;
  color: white;
}
.faq{
  display: inline-block;
  padding: 33px 46px;
  font-size: 31px;
  color: white;
}
.help{
  display: inline-block;
  padding: 33px 46px;
  font-size: 31px;
  color: white;
}